
body {
    background-image: url('../picture/urban2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0;
    background-color: #b6db6c;
  }
  
  h4 {
    text-transform: uppercase;
    color: #5f7c57;
  }
  
  .bz-form {width: 684px; margin: 200px auto 0; }
  
  .bz-container {
    width: 100%;
    background-color: #fff;
    padding: 30px 40px 20px;
    border-radius: 10px;
    border: 2px solid #000000;
  }
  
  .bz-btmmargin {
    margin-bottom: 14px !important;
  }
  .bz-topmargin {
    margin-top: 6px !important;
  }
  
  .bz-left {float: left; width: 49%; padding-right: 2%; min-width: 300px;}
  .bz-right {float: left; width: 49%; min-width: 300px;}
  .bz-clear {clear: both;}
  
  input[type='text'], input[type='email'] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
    display: block;
    width: 100%;
    padding: 7px;
    border: 0;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial,Helvetica,sans-serif;
    height: 45px;
  }
  
  input[type='submit'] {
    float: right;
    background-color: rgb(255, 247, 247);
    border: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  
  @media only screen and (max-width: 600px) {
    .bz-container {padding: 10px;}
    .bz-form {width: 100%;}
    .bz-left, .bz-right { width: 100%; padding: 0 10px;}
    input[type='submit'] {margin-left: 10px;}
  }